html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-size: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

header {
    background-color: darkblue;
    font-family: "Comic Sans MS";
    width: 100%;
    height: 15%;
    font-size: 4em;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}

.flex-title {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameArea {
    position: relative;
    margin: 0 auto;
    font-size: 1rem;
    width: 55%;
    height: 70%;
    top: 5%;
    border: 5px solid white;
    box-sizing: border-box;
    background-color: white;
}

.gameBoard {
    position: relative;
    background-color: white;
    width: 100%;
    height: 85%;
}

.row {
    width: 100%;
    height: 25%;
    background: black;
    float: left;
}

.container {
    width: 25%;
    height: 100%;
    background-color: lightblue;
    display: inline-block;
    border: 5px solid blue;

    margin: 0;
    float: left;
    box-sizing: border-box;
}

.disc {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 5%;
    left: 4%;
    position: relative;

}

.black {
    background-color: black;
}

.white {
    background-color: white;
    border: 1px solid black
}

.playerArea {
    width: 100%;
    height: 15%;
    position: relative;
    display: inline-block;
    border-top: 5px solid white;
    background-color: white;
    box-sizing: border-box;
}

.player1 {
    height: 100%;
    width: 30%;
    display: inline-block;
    float: left;
    top: 9%;
    left: 5%;
    position: relative;
    text-align: center;
}

.color {
    font-family: Calibri;
    font-size: 2em;
    font-weight: bold;
}

.player2 {
    height: 100%;
    width: 30%;
    float: right;
    top: 9%;
    right: 5%;
    position: relative;
    text-align: center;
}

button {
    position: relative;
    display: inline-block;
    left: 45%;

}

.playerIndicator1 {
    width: 10%;
    height: 100%;
    top: 18%;
    left: 8%;
    position: relative;
    display: inline-block;
}

.playerIndicator2 {
    width: 10%;
    height: 100%;
    top: 18%;
    left: 14%;
    position: relative;
    display: inline-block;
}

img {
    width: 80%;
    height: 80%;
}

.value1 {
    width: 8%;
    height: 75%;
    background-color: grey;
    display: inline-block;
}

.value2 {
    width: 8%;
    height: 75%;
    background-color: grey;
    display: inline-block;
}

.highlight {
    background-color: pink;
}